# vim swap files
*.swp

# scrape-util state files
state-files/

# dhhl-hobo-u12 reference csv file
scrape-util-projects/dhhl-hobo-u12/reference-files/dhhl-hobo-u12.csv

# webctrl-config contains sensitive info
scrape-util-projects/uhm-frog/webctrl-config.toml
